<div id="body">
    <div class="container">
        <div class="row">
            <article id="content" class="col-md-10">
                @Html.Raw(Model.Содержимое) 
            </article>

            <!-- БоковоеНавигационноеМеню  -->
            @await Component.InvokeAsync("БоковоеНавигационноеМеню", new {ОписаниеРаздела = Model.ОписаниеРаздела})
        </div>
    </div>
</div>