<div id="navigation" class="sidebar-right">
    <div class="" id="side-nav-menu" role="tablist" aria-multiselectable="true">
        @foreach(var СтрокаНавигации in @Model.Строки) {
            @if(СтрокаНавигации.Тип == "Статья"){
                <div class="side-panel-item">
                    <a asp-controller="content" asp-action="markdown" asp-article="@СтрокаНавигации.Имя">@СтрокаНавигации.Представление</a>
                </div>
            }
            else {
                <div class="panel-heading">
                    <h4 class="side-panel-title">
                        <a role="button" data-toggle="collapse" data-target="#items-@СтрокаНавигации.Имя" 
                        aria-expanded="@(СтрокаНавигации.Активность == true)">@СтрокаНавигации.Представление</a>
                    </h4>
                </div>
                <div id="items-@СтрокаНавигации.Имя" data-parent="#side-nav-menu" class="collapse @(СтрокаНавигации.Активность == true? "show":"")">
                    <ul class="side-nav-list list-group ">
                        @foreach(var Статья in СтрокаНавигации.Строки){
                            <li class="side-panel-item list-group-item @(Статья.Активность == true? "active":"")">
                                <a href="/@Статья.Имя">@Статья.Представление</a>
                            </li>
                        }
                    </ul>
                </div>
            }
        }
    </div>
</div>